doctype html
html(lang='en', ng-app='app')
  head
    meta(charset='UTF-8')
    title Test Task
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable = yes")
    script(src='js/vendor.min.js')
    script(src='js/all.min.js')
    link(rel='stylesheet', type='text/css', href="css/all.min.css")
  body(ng-cloak='', ng-controller='myCtrl')
    .container
      header
        h1.title Create table from CSV file
      section.controls
        input.add-csv(type='file', accept='.csv', filelist='', name='files')
        div.display-csv
          button.display-csv-btn(ng-click='processData()')
            | Display CSV as Data Table
      section
        #divID
          table
            tr(ng-repeat='x in data')
              td(ng-repeat='y in x') {{ y }}
        div
          table